body {
  font-size: 16px;
  color: black;
  font-family: arial, sans-serif;
   
}

/** HEADER **/
#header-nav {
  background-color: grey;
  border-radius: 0;
  border: 2px solid black;
  
}
.main-title {
 font-size: 1.5em;
 font-weight: bold;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: black;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin: 0px 0px 0px 0px;
  vertical-align: middle;
  line-height: .1;
  text-align: left;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { /* Kosher cert */
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  
}
.navbar-brand p span { /* Star-K */
  vertical-align: middle;
}
.navbar-nav >li >a {
line-height:6px;
}
.navbar-toggle {
margin-right: 30px;
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

/* HOME PAGE */
.text-center {
height: 35px;
margin-bottom: 5px;
}
#home-tiles {
  margin-top: 5px;
  width: 100%;
  margin-left: 5px;
  border: 2px solid #3F0C1F;
  color: black;
  font-family: arial, sans-serif;
}
.cat-title {
  text-align: center;
  color: black;
  font-size: 1.2em;
  font-weight: bold;
}
.menu-body {
color: black;
text-decoration: none;
}
#menu-tile:hover, #specials-tile:hover, #map-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}
#menu-tile {
  background: url('../images/menu-tile.jpg') no-repeat;
  background-position: center;
}
#specials-tile {
  background: url('../images/specials-tile.jpg') no-repeat;
  background-position: center;
}
#home-tiles {
  position: relative;
  border: 1px solid #3F0C1F;
  overflow: hidden;
  
  margin: 5px auto 15px;
  background-color: grey;
  text-color: black;
}
/* END HOME PAGE */




/********** Large devices only **********/
@media (min-width: 1200px) {
  .container {
    
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  
  /* Home Page */
  .container {
    
  }
  /* End Home Page */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Home Page */
  .container  {
   
    }
  /* End Home Page */
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
  margin: 2px 2px 2px 2px;
  }
  .navbar-brand h1 { /* Restaurant name */
   
    font-size: 1.2em; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { /* Kosher cert */
    font-size: .6em;
    
  }
  .navbar-brand p img { /* Star-K */
    height: 20px;
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  #call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #f6b319;
    color: #951c49;
  }
  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  /* End Header */

  /* Footer */
  .panel-footer section {
    margin-bottom: 30px;
    text-align: center;
  }
  .panel-footer section:nth-child(3) {
    margin-bottom: 0; /* margin already exists on the whole row */
  }
  .panel-footer section hr {
    width: 50%;
  }
  /* End Footer */

  /* Home Page */
  .container  {
    margin-top: 30px;
    padding: 0;
  }
 

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 5px;
    font-size: 6vw;
  }
  /* End Header */
  
  
  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
}




